{% extends 'base.html' %}
{% load static %}

{% block title %} Book {% endblock %}

{% block content %}

{% if block %}

<div class="bg-[#0d061f] text-white">

    <div class="container mx-auto px-4 py-8">

        <div class="flex flex-col md:flex-row gap-8">

            <div
                class="w-full md:w-2/5 bg-gray-800 rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 hover:shadow-xl p-6 fixed max-h-9/10  mb-2">
                <div class="flex flex-col items-center text-center">
                    <div class="relative w-full h-70 mb-6">
                            <img src="{{ book.thumbnail.url }}" alt="Book Cover"
                                class="absolute inset-0 w-full h-full object-contain rounded-lg"
                                style="pointer-events: none;">
                    </div>

                    <h2 class="text-3xl font-extrabold text-white mb-4">{{ book.name }}</h2>
                    <p class="text-lg font-light text-gray-400 mb-4">By {{ book.author }}</p>
                </div>
                <div class="overflow-y-auto">
                    <span>{{book.summary}}</span>
                </div>
                <div class="mt-5">
                    <a href="{% url 'get_book_content' book.id %}">Read Now ></a>
                    <a href="{% url 'download_book' book_id=book.id %}" class="ml-60" download> Download Ebook</a>
                </div>
            </div>

            <div class="ml-[40%] md:w-3/5 overflow-y-auto max-h-screen pr-4">
                <div>
                    <h3 class="text-xl font-semibold text-white mb-4 ml-20">More Books You May Like</h3>

                    <div class="flex flex-col space-y-6">

                        {% for suggestion in suggestions %}
                        <div
                            class="bg-gray-800 p-6 rounded-lg shadow-lg hover:scale-105 hover:shadow-xl transition-transform w-[80%] h-48 mx-auto">
                            <a href="{% url 'get_book' suggestion.id  %}">
                                <div class="flex h-full">
                                    <img src="{{ suggestion.thumbnail.url }}" alt="Book Cover"
                                        class="w-1/5 h-full object-cover rounded-md mr-6">
                                    <div class="flex flex-col justify-between w-2/3">
                                        <p class="text-sm font-semibold text-white">{{suggestion.name}}</p>
                                        <p class="text-xs text-gray-400">By {{ suggestion.author }}</p>
                                        <p class="text-gray-300 text-sm">{{suggestion.summary}}</p>
                                    </div>

                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>
{% endif %}

{% endblock %}