{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if book_id %}
<div class="flex justify-center items-center min-h-screen transparent" id="loader">
    <div class="flex flex-col items-center space-y-4">
      <div class="text-3xl font-semibold text-blue-600 animate-pulse">Loading Your Book!</div>
      
      <!-- Spinner -->
      <div class="w-16 h-16 border-4 border-t-4 border-x-[3.5px] border-x-white border-blue-600 rounded-full animate-spin"></div>
    </div>
  </div>
  
<div id="page-content" class="flex w-full justify-center hidden">
    <div class="pt-75">
        <button id="prev-btn"
            data-book-id="{{ book_id }}"
            data-total-pages="{{ page_length }}"
            class="bg-blue-600 text-white px-4 py-2 h-20 w-15 hover:bg-blue-700 focus:outline-none">&lt;
        </button>
    </div>
    <div class="w-3/5">
        <div class="flex border-x-4 border-indigo-500 border-indigo-500 h-146 width-full">
            <header class="bg-blue-800 text-white py-6 shadow-md">
                <div class="container mx-auto text-center">
                    <h1 class="text-4xl font-semibold" id="book-title">The Great Adventure</h1>
                    <h3 class="text-xl mt-2" id="book-author">by John Doe</h3>
                </div>
            </header>

            <main class="w-full ">
                <div id="book-content" class="">
                </div>
            </main>

        </div>
    </div>
    <div class="pt-75">
        <button id="next-btn"
            class="bg-blue-600 text-white px-4 py-2 h-20 w-15 hover:bg-blue-700 focus:outline-none">&gt;
        </button>
    </div>
</div>
{% endif %}
<script src="{% static 'js/read_book.js' %}"></script>
{% endblock %}